body{
    background-color: #3c009d;
    height: 100vh;
}
.containerl {
    display: flex;
    width: 600px;
    flex-direction:column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
}
.headerl{ 
display: flex;
flex-direction: column;
align-items: center;
gap: 9px;
width: 100%;
margin-top: 30px;
}
.textl{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}
.underlinel{
    width: 61px; 
    height: 6px;
    background: #3c009d;
 border-radius: 9px;
}
.inputsl{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.inputl{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}
.imgl {
    margin: 0px 30px ;
}
.inputl input {
    height: 50px;
    width: 200px;
    background:transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19 px;
}
.forgot-passwordl{
    padding-left: 96px;
    margin-top:27px;
    color:#797979;
    font-size: 18px;
}
.forgot-passwordl span {
    color: #4C00b4;
    cursor: pointer;
}
 
.submit-containerl {
    display: flex;
    gap: 30px;
    margin: 60px auto ;
}
.submitl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4C00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}
.gray{
    background-color: #eaeaea;
    color: #676767;
}

